<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :available %> <%= f.check_box :available %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(function() {
	var availableNames = <%= array_or_string_for_javascript(Item::FOODNAMES) %>
	$("#item_name").autocomplete({
			source: function(req, response) {
        	var re = $.ui.autocomplete.escapeRegex(req.term);
        	var matcher = new RegExp("^" + re, "i");
        	var a = $.grep(availableNames, function(item,index){
        		return matcher.test(item);
        	});
        	response(a);
     	}
	});
});
</script>