<div id="text">

<form action='/search'>
<input name="name" type="text" value="<%= params[:name] %>" />
<input type='submit' value='Search' />
</form>

<br />

<% if params[:name] %>

<% if @items.empty? %>
	<span>Nothing found</span><br/>
<% else %>

<% @items.each do |item| %>
  <div id="item_show">
    <% a = GeoKit::LatLng.new(@location.lat, @location.long) %>
    <% b = GeoKit::LatLng.new(item.user.location.lat, item.user.location.long) %>
    <h2><%= item.name %>, <smaller><%= '%.2f' % a.distance_to(b, {:options => :kms}) %> km away<smaller></h2>
    <p><%= item.user.name %> in <%= item.user.location.name %> <%= link_to 'More info', item %></p>
  </div>
<% end %>

<% end %>
<% end %>

</div>