<div id="text">
<p id="notice"><%= notice %></p>
<h2><%= @user.name %> has <b><%= @item.name %></b> in <%= @location.name%></h2>
<p><%= @item.description %></p>
<%= image_tag(@image) %>
<p>
  <% if @item.available %>
	<p>Available</p>
  <% else %>
  <p>Not available right now</p>
<% end %>
<p><%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %></p>
</div>