<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>

<script type="text/javascript">
	$(document).ready(function() {

		var StartPosition = new google.maps.LatLng(60, 15);

		function SetPosition(Location, Viewport) {
			Marker.setPosition(Location);
			if(Viewport) {
				Map.fitBounds(Viewport);
				Map.setZoom(map.getZoom() + 2);
			} else {
				Map.panTo(Location);
			}
			$("#lat").val(Location.lat().toFixed(5));
			$("#long").val(Location.lng().toFixed(5));
		}

		var MapOptions = {
			zoom : 5,
			center : StartPosition,
			mapTypeId : google.maps.MapTypeId.ROADMAP,
			mapTypeControl : false,
			disableDoubleClickZoom : true,
			streetViewControl : false
		};

		var MapView = $("#map");
		var Map = new google.maps.Map(MapView.get(0), MapOptions);

		var Marker = new google.maps.Marker({
			position : StartPosition,
			map : Map,
			title : "Drag Me",
			draggable : true
		});

		google.maps.event.addListener(Marker, "dragend", function(event) {
			SetPosition(Marker.position);
		});

		SetPosition(Marker.position);

	});

</script>

<div id="text">
<%= form_for @loc do |f| %>
  <%= f.label :lat, 'latitude' %>:
  <%= f.text_field :lat %><br />
  <%= f.label :long, 'longitude' %>:
  <%= f.text_field :long %><br />
  <%= f.label :name, 'name' %>:
  <%= f.text_field :name %><br />
  <%= f.submit %>
  <div id="map" style="width:600px; height:400px; background-color:#000000;"></div>
<% end %>
</div>
