<!DOCTYPE html>
<html>
<head>
  <title>Localista - creating a local food network</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<%= yield :head %>
  <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sofia|Coming+Soon' rel='stylesheet' type='text/css'>
</head>
<body>
	<img src="/logo.png">
	<p>
	<a href="/about">About</a> |
	<% if user_signed_in? %>
	  <a href="/my_items">My Items</a> |		
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>    
	   <%= link_to('Edit user', edit_user_registration_path) %>    
	<% else %>
	  <%= link_to('Login', new_user_session_path)  %> 
	  <%= link_to('Register', new_user_registration_path)  %> 
	<% end %>
	</p>
	<%= yield %>

	<%= yield :scripts %>
</body>
</html>
